<% content_for :page_title, 'dom' %>

<!--<a href="/04-dom" class="next-link">Next &rarr;</a>-->
<h1>DOM</h1>

<div class="note">
  Javascript can dynamically make changes to the elements on a page
</div>

<h2>Manipulate elements</h2>

<section>
  <button id="insert-button">Insert</button>
  <button id="remove-button">Remove</button>
  <button id="update-button">Update Elements</button>
</section>

<script src="/js/dom.js"></script>