<div class="note">
  You can organize code into named functions without assigning to variables.
</div>

<h2>Manipulate elements</h2>

<section>
  <button id="insert-button">Insert Element</button>
  <button id="remove-button">Remove Element</button>
  <button id="update-button">Update Elements</button>
</section>

<script>

  function insertButtonWasClicked(event) {
    var newDiv = document.createElement('div');
    newDiv.innerHTML = "This is a new div";
    newDiv.className = "text inserted-element";
    event.target.parentNode.appendChild(newDiv);
  }

  function removeButtonWasClicked(event) {
    var newDiv = document.createElement('div');
    newDiv.innerHTML = "This is a new div";
    var firstInsertedElement = document.getElementsByClassName('inserted-element')[0];
    if (firstInsertedElement) {
      firstInsertedElement.remove();
    }
  }

  function updateButtonWasClicked(event) {
    Array.prototype.forEach.call(document.getElementsByClassName('inserted-element'), function (thing) {
      thing.innerHTML = thing.innerHTML + ' updated';
    });
  }

  document.getElementById('insert-button').onclick = insertButtonWasClicked;

  document.getElementById('remove-button').onclick = removeButtonWasClicked;

  document.getElementById('update-button').onclick = updateButtonWasClicked;

</script>