<div class="note">
  <p>Javascript can be written in an external file as a JavaScript, then called from within the page.</p>

  <p>This is a great pattern, and is frequently used when using frameworks like Backbone</p>
</div>

<h2>console.log</h2>

<section>
  <button id="console-log-button">Hello World</button>
  <p class="text">Check the console for output</p>
</section>

<h2>alert</h2>

<section>
  <button id="alert-button">Hello World</button>
</section>

<h2>innerHTML</h2>

<section>
  <button id="inner-html-button">Hello World</button>
  <div id="hello-container" class="text">
    This text will be replaced...
  </div>
</section>

<script>
  $(document).ready(function () {
    HelloWorldWithFunctionVars.initialize();
  });
</script>