<h1>Welcome to the gSchool javascript sample app!</h1>

<ul>
  <li>
    <p>Learn about events, <code>console.log</code> and <code>alert</code> and <code>innerHTML</code></p>

    <ul>
      <li><a href="01-hello-world-inline">With inline javascript</a></li>
      <li><a href="02-hello-world-script-tag">With a script tag</a></li>
      <li><a href="03-hello-world-external-script">With an external script</a></li>
    </ul>
  </li>
  <li>
    <p>Learn about the DOM</p>

    <ul>
      <li><a href="04-dom">DOM</a></li>
    </ul>
  </li>
</ul>