<h1>Welcome to the gSchool javascript sample app!</h1>

<ul>
  <% Page.categories.each do |category, description| %>
    <li>
      <p><%= description.html_safe %></p>
      <ul>
        <% Page.all.select{|page| page.category == category}.each do |page| %>
          <li><a href="<%= page.path %>"><%= page.title %></a></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>