<h1>Welcome to the gSchool javascript sample app!</h1>

<ul>
  <li>
    <p>Learn about events, <code>console.log</code> and <code>alert</code> and <code>innerHTML</code></p>

    <ul>
      <% Page.all.select{|page| page.category == "Hello World"}.each do |page| %>
        <li><a href="<%= page.path %>"><%= page.title %></a></li>
      <% end %>
    </ul>
  </li>
  <li>
    <p>Learn about the DOM</p>

    <ul>
      <% Page.all.select{|page| page.category == "DOM"}.each do |page| %>
        <li><a href="<%= page.path %>"><%= page.title %></a></li>
      <% end %>
    </ul>
  </li>
</ul>